<h1>LIMS V1</h1>

</br> </br> 
<p> Welcome to the LIMS V1 project designed to facilitate data safe storage and tracability for URMITE projects  </p>
<p> The centralised easy access and submission of datas of LIMS V1 provides you with a nice and convenient way to collaborate over team members during every steps of your projects</p>
<p> </br>                             </p>

<p><small>Please contact Ghislain FOURNOUS at ghislain.fournous@gmail.com to help you out setting up an account and to give us a feedback</small> </p>
